@import '../../../../../theme.scss';

/*Container*/
.header-container{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin-bottom: 30px;
}

/*Button color*/
.mat-raised-button{
    background: $color-gradient-button;
    width: 200px;
    font-family: 'SFUIDisplayRegular', sans-serif;
}

/*Icon*/
.mat-icon{
    color: $color-accent;
    margin: 9px 10px;
}