<div>
    <!-- Header -->
    <div class="header-container">
        <h1> {{ txtTitle }} </h1>

        <div>
            <form class="input-search" [formGroup]="searchGroupForm" *ngIf="flagSearch">
                <span matPrefix>
                    <mat-icon>search</mat-icon>
                </span>
                <input                     
                    placeholder="{{ searchLabel }}"
                    [formControl]="searchInput">
            </form>
        </div>

        <div>
            <button mat-raised-button (click)="openDialog()" *ngIf="flagButton"> {{ searchButtonLabel }} </button>
        </div>
    </div>
</div>