<div class="principal-background">
    
    <div class="general-container ">
        <img src="{{ logoNaatTech }}" alt="logo NaatTech">

        <!-- Contenedor de inicio de sesion -->
        <div class="secundary-background card-container">

            <h2> {{ texts.TITLE }} </h2>
            <p class='txt-description center-txt txt-color-description'> {{ texts.DESCRIPTION }}</p>
            
            <button mat-stroked-button (click)="doLogin()" > Sign In with Google </button>
        </div>
    </div>

</div>
