
@import '../../../../../theme.scss';

.header-proyectos-container{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    margin-bottom: 30px;
}

.header-columns-detail-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.title-control-container{
    display: flex;
    align-items: center;
}

/* Buttons and icons */
.icon-back{
    color: $color-accent;
}

/* Inputs */
.input-search{
    display: flex;
    align-items: center;
    background-color: $color-background-secundary;
    font-family: 'SFUIDisplayRegular', sans-serif;
    box-sizing: border-box;
    height: 40px;
    width: 215px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

input::placeholder, input{
    border: none;
    outline: none;
    color: $color-inactive;
}

.color-text-description{
    color: $color-text-description;
}