@import '../../../../../theme.scss';

/* Containers */
.table-container{
    background-color: $color-background-secundary;
    padding: 25px;
}

.header-proyectos-container{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin-bottom: 30px;
}

/* Texts */
h1{
    margin: 0px;
    color: $color-texts-title;
}
.btn-action{
    color: $color-accent;
}

/* Inputs */
.input-search{
    display: flex;
    align-items: center;
    background-color: $color-background-secundary;
    font-family: 'SFUIDisplayRegular', sans-serif;
    box-sizing: border-box;
    height: 40px;
    width: 215px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

input::placeholder, input{
    border: none;
    outline: none;
    color: $color-inactive;
}

/*
::placeholder{
    color: $color-inactive;
}
/*
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin: 0px !important;
}
*/

/* Button Color */
/* Segmento de codigo para forzar un estilo a componentes de angular material
::ng-deep .mat-raised-button{
    background: $color-gradient-button!important;
}
*/
.mat-raised-button{
    background: $color-gradient-button;
    width: 200px;
    font-family: 'SFUIDisplayRegular', sans-serif;
}

.mat-icon{
    color: $color-accent;
    margin: 9px 10px;
}

/*  Status color */
.statusActive{
    color: $color-status-active;
}

.statusInactive{
    color: $color-status-inactive;
}

/*
    Table
*/



