/* Colors */
$color-background-principal: #F9F9F9;
$color-background-secundary: #FFFFFF;
$color-texts-title: #333333;
$color-text-description: #9B9B9B;
$color-accent: #FF656C;
$color-inactive: #C6C6C6;
$color-status-active: #28B19B;
$color-status-inactive: #A70635;
$color-texts-white: $color-background-secundary;
$color-background-tabs: $color-texts-title;

$color-gradient-button: linear-gradient(140.77deg, #FF8355 0%, #FF4485 100%)